body {
  height: 100%;
  width: 100%;
  background: #173e43;
  color: #fae596;
  font-weight: 100;
}

header {
  text-align: center;
}

header h1 {
  font-family: 'Lobster';
  font-size: 4em;
}

#controls {
  text-align: center;
  width: 50%;
}

#controls .control-items {
  display: inline-block;
  margin-top: 50px;
}

#controls .control-items input {
  width: 48px;
  height: 48px;
  text-align: center;
  font-size: 28px;
  border: none;
  background: none;
}

#controls .control-items button {
  height: 48px;
  width: 48px;
  font-size: 24px;
  border: none;
  background: none;
  vertical-align: top;
}

#clock {
  margin: 0 auto;
  margin-top: 50px;
  border: 3px solid #fae596;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  text-align: center;
  position: relative;
  overflow: hidden;
}

#progress-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0%;
  width: 100%;
  background: #3fb0ac;
}

#clock:hover {
  cursor: pointer;
}

#clock #clock-text {
  position: relative;
  padding-top: 25%;
  font-size: 4em;
}

#clock #clock-text #clock-title {
  text-transform: capitalize;
}